<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Set my password</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link th:href="@{/admin/layui/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/admin/layui/style/admin.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<form method="post">
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">Change password</div>
          <div class="layui-card-body" pad15>
            
            <div class="layui-form" lay-filter="">
              <div class="layui-form-item">
                <label class="layui-form-label">Current password</label>
                <div class="layui-input-inline">
                  <input type="password" name="oldPassWord" lay-verify="required" lay-verType="tips" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">New password</label>
                <div class="layui-input-inline">
                  <input type="password" name="newPassWord" lay-verify="pass" lay-verType="tips" autocomplete="off" id="LAY_password" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">6 to 16 characters</div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">Confirm new password</label>
                <div class="layui-input-inline">
                  <input type="password" name="reNewPassWord" lay-verify="repass" lay-verType="tips" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit lay-filter="setmypass">Confirm modification</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
  <script type="text/javascript" th:src="@{/admin/layui/layui/layui.js}"></script>
  <script>
      layui.use(['form'], function () {
          var form = layui.form,
              layer = layui.layer;
          var $ = layui.$;

          form.verify({
              newPassWord: [/^[\S]{6,12}$/, "The password must be 6 to 12 digits, and no spaces can appear"],
              reNewPassWord: function (repwd) {
                  if (repwd !== $("#LAY_password").val()) return "The two password entries are inconsistent"
              }
          });

          form.on('submit(setmypass)', function (data) {
              layui.layer.load();
              $.ajax({
                  url: "/admin/userPwd/edit",
                  type: "post",
                  dataType: "json",
                  data: data.field,
                  success:function (res) {
                      layui.layer.closeAll();
                      if (res.code =='success'){
                          layer.msg("Modified successfully, please log in again", function(data){
                              $.ajax({
                                  url: "/logout",
                                  type: "post",
                                  dataType: "json",
                                  data: data.field,
                                  error:function (res) {
                                      layer.msg('error', res.msg);
                                  }
                              })
                          })
                      }else {
                          layer.msg(res.msg);
                      }
                  },
                  error:function (res) {
                      layer.msg('error', res.msg);
                  }
              });
              return false;
          });
      });
  </script>
</body>
</html>