<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>

    <link th:href="@{/admin/layui/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/admin/editormd/css/editormd.css}" rel="stylesheet" type="text/css"/>

</head>
<body style="margin: 20px 30px 10px 30px">
<fieldset class="layui-elem-field layui-field-title">
    <legend>发布文章</legend>
</fieldset>
<form class="layui-form layui-form-pane">
    <input  name="cId" th:value="${tContents!=null and tContents.cId !=null}?${tContents.cId}: ''" style="display: none" type="text" />
    <div class="layui-form-item">
        <label class="layui-form-label">标题：</label>
        <div class="layui-input-block">
            <input type="text" name="title" required lay-verify="required" lay-reqtext="标题不能为空" placeholder="请输入标题"
                   th:value="${tContents!=null and tContents.title !=null}?${tContents.title}: ''" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">简述：</label>
        <div class="layui-input-block">
            <input type="text" name="titlePic" required lay-verify="required" lay-reqtext="简述不能为空" placeholder="请输入简述"
                   th:value="${tContents!=null and tContents.titlePic !=null}?${tContents.titlePic}: ''" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">分类：</label>
        <div class="layui-input-block">
            <select name="categories" lay-filter="categories" required lay-verify="required" lay-reqtext="分类不能为空">
                <option value="" selected>请选择</option>
                <option th:each="categorie:${tCategories}" th:selected="${tContents.categories}==${categorie.mId}"
                        th:value="${categorie.mId}" th:text="${categorie.name}" ></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">标签：</label>
        <div class="layui-input-block">
            <input id="inputTags" name="tags"  type="text" placeholder="请输入标签" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div id="layout" class="editor">
        <div id="test-editormd">
            <textarea id="text" name="content"
                      th:utext="${tContents!=null and tContents.content !=null}?${tContents.content}: ''"></textarea>
            <textarea class="editormd-html-textarea" name="text"></textarea>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-col-md8">
            <div class="layui-form-item">
                <label class="layui-form-label">允许评论</label>
                <div class="layui-input-block">
                    <input type="checkbox" checked="" name="allowOpen" lay-skin="switch" lay-filter="switchTest"
                           lay-text="开启|关闭">
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit lay-filter="formPublish">发布文章</button>
                <button type="button"class="layui-btn layui-btn-normal" lay-submit lay-filter="formSave">保存草稿</button>
            </div>
        </div>
    </div>
</form>

</body>
<script type="text/javascript" th:src="@{/admin/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/admin/layui/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/admin/editormd/editormd.js}"></script>
<script type="text/javascript" th:src="@{/base/js/base.js}"></script>
<script>
    //JavaScript代码区域
    layui.config({
        base: '/admin/js/',
    }).use(['inputTags'], function() {
        var inputTags = layui.inputTags;
        inputTags.render({
            elem: '#inputTags', //定义输入框input对象
            content: [], //默认标签
            aldaBtn: true, //是否开启获取所有数据的按钮
            done: function(value) { //回车后的回调
                console.log("刚刚输入标签===="+value)
            }
        })
    })
        .use('form', function () {
        var form = layui.form;

        //监听发布
        form.on('submit(formPublish)', function (data) {
            formPublish(data);
            return false;
        });
        //监听保存
        form.on('submit(formSave)', function (data) {
            formSave(data);
            return false;
        });
    });

    //初始化编辑器
    var testEditor;
    $(function () {
        testEditor = editormd("test-editormd", {
            width: "100%",
            height: 740,
            path: '/admin/editormd/lib/',
            markdown: "",
            codeFold: true,
            //syncScrolling : false,
            saveHTMLToTextarea: true,    // 保存 HTML 到 Textarea
            searchReplace: true,
            //watch : false,                // 关闭实时预览
            htmlDecode: "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启
            //toolbar  : false,             //关闭工具栏
            //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
            emoji: true,
            taskList: true,
            tocm: true,         // Using [TOCM]
            tex: true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart: true,             // 开启流程图支持，默认关闭
            sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
            //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
            //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
            //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
            //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
            //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "/Center/RichTextUpload",
            onload: function () {

            }
        });
    });


    $(document).keyup(function(event){
        return false;
    });

    function formPublish(data) {
        //获取编辑器内容
        var blogcontent = encodeURIComponent(testEditor.getMarkdown());
        layui.use('layer', function () {
            var $ = layui.jquery;
            var layer = layui.layer;
            layer.msg('是否确定发布？', {
                btn: ['确定', '取消'],
                yes: function (index) {
                    $.ajax({
                        url: "/admin/article/publish/xgfb/",
                        data: data.field,
                        type: "post",
                        dataType: "json",
                        success: function (data) {
                            console.log(data);
                            if (data.code == "success") {
                                layer.msg("发布成功");
                            } else {
                                layer.msg(data.msg || "发布失败");
                            }

                        },
                        error: function (data) {
                            $.layer.alert('错误', data.msg);
                        }
                    });
                    layer.close(index);
                }
            });
        });
    };

    function formSave(data) {
        layui.use('layer', function () {
            var $ = layui.jquery;
            var layer = layui.layer;

            layer.msg('是否确定保存为草稿？', {
                btn: ['确定', '取消'],
                yes: function (index) {
                    $.ajax({
                        url: "/admin/article/publish/xgcg/",
                        data: data.field,
                        type: "post",
                        dataType: "json",
                        success: function (data) {
                            console.log(data);
                            if (data.code == "success") {
                                layer.msg("保存成功");
                            } else {
                                layer.msg(data.msg || "保存失败");
                            }

                        },
                        error: function (data) {
                            layer.alert(data.msg);
                        }
                    });
                    layer.close(index);
                }
            });
        });
    };

</script>

</html>