<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>文章列表</title>

    <link th:href="@{/admin/layui/layui/css/layui.css}" rel="stylesheet" type="text/css"/>

</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>评论管理</legend>
        </fieldset>
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item demoTable">
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-danger" data-type="batchdel">删除</button>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-comm" data-type="reload" lay-submit
                            lay-filter="search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">评论者</label>
                    <div class="layui-input-inline">
                        <input type="text" name="author" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">评论内容</label>
                    <div class="layui-input-inline">
                        <input type="text" name="content" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>

            </div>
        </div>
        <div class="layui-card-body">

            <table id="commentTable" lay-filter="commentFilter"></table>

        </div>
    </div>
</div>

<script type="text/html" id="table-content-com">
    <a class="layui-btn layui-btn-normal layui-btn-xs  layui-btn-disabled" lay-event="edit"><i
            class="layui-icon layui-icon-edit"></i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
            class="layui-icon layui-icon-delete"></i>删除</a>
</script>
<script type="text/javascript" th:src="@{/admin/layui/layui/layui.js}"></script>
<script>
    layui.use('table', function () {
        var table = layui.table;
        var form = layui.form
        var $ = layui.$;
        table.render({
            elem: '#commentTable'
            , height: 405
            , url: '/admin/comment/list' //数据接口
            ,request: {
                pageName: 'page' //页码的参数名称，默认：page
                ,limitName: 'size' //每页数据量的参数名，默认：limit
            }
            , parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.list //解析数据列表
                };
            }
            , cols: [
                [ //表头
                    {type: 'checkbox', fixed: 'left'}
                    , {type: 'numbers', title: '序号', width: 60, sort: true, fixed: 'left'}
                    , {field: 'author', title: '评论者', minWidth: 80, sort: true}
                    , {field: 'content', title: '评论内容', width: 380, sort: true}
                    , {
                    field: 'created',
                    title: '评论时间',
                    minWidth: 180,
                    sort: true,
                    templet: '<div>{{ layui.util.toDateString(d.created, "yyyy-MM-dd HH:mm:ss") }}</div>'
                }
                    , {fixed: 'right', title: '操作', toolbar: '#table-content-com', width: 170}
                ]
            ]
            , page: true //开启分页
            , limit: 10
            , limits: [10, 20, 40, 50, 80, 100]
        });


        //监听工具条
        table.on('tool(commentFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                dele(data.cId, null);
            } else if (obj.event === 'edit') {
                edit(data.cId);
            }
        });

        //监听搜索
        form.on('submit(search)', function(data){
            var field = data.field;

            //执行重载
            table.reload('commentTable', {
                where: field
            });
        });

        active = {
            batchdel: function () {
                var checkStatus = table.checkStatus('commentTable')
                data = checkStatus.data;
                if (data.length == 0) {
                    return layer.msg("请选择删除列！");
                }
                var coIdList = new Array();
                for (var i = 0; i < data.length; i++) {
                    coIdList = coIdList.concat(data[i].coId);
                };
                dele(null, coIdList);
            }
    }
    $('.demoTable .layui-btn').on('click', function () {
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    });

    function dele(id, obj) {

        if (id == null) {
            var url = "/admin/comment/batchDel"
        } else {
            var url = "/admin/comment/del/" + id
        }

        layui.use('layer', function () {
            var layer = layui.layer;
            layer.msg('你确定删除么？', {
                time: 5000,//2秒自动关闭
                btn: ['确定', '取消'],
                yes: function (index) {
                    $.ajax({
                        url: url,
                        type: "delete",
                        dataType: "json",
                        data: {list: obj},
                        success: function (data) {
                            if (data.code == "success") {
                                layer.msg("删除成功", {
                                    time: 5000
                                });
                                location.reload();
                            } else {
                                layer.msg(data.msg);
                            }

                        },
                        error: function (data) {
                            $.layer.alert('错误', data.msg);
                        }
                    });
                    layer.close(index);
                }
            });
        });
    };

    })
    ;


</script>
</body>
</html>

