<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hak.mysite.mapper.vo.TContentsVoMapper">
  <resultMap id="BaseResultMap" type="com.hak.mysite.model.vo.TContentsVo">
    <id column="c_id" jdbcType="INTEGER" property="cId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="title_Pic" jdbcType="VARCHAR" property="titlePic" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
    <result column="author_id" jdbcType="INTEGER" property="authorId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="categories" jdbcType="VARCHAR" property="categories" />
    <result column="hits" jdbcType="INTEGER" property="hits" />
    <result column="comments_num" jdbcType="INTEGER" property="commentsNum" />
    <result column="allow_comment" jdbcType="INTEGER" property="allowComment" />
    <result column="allow_ping" jdbcType="INTEGER" property="allowPing" />
    <result column="allow_feed" jdbcType="INTEGER" property="allowFeed" />

    <result column="screen_name" jdbcType="VARCHAR" property="screenName" />
    <result column="categories_name" jdbcType="VARCHAR" property="categoriesName" />
    <result column="status_name" jdbcType="VARCHAR" property="statusName" />
  </resultMap>

  <select id="getAllContentsListByCId" resultMap="BaseResultMap" resultType="java.lang.Integer">

    select C.c_id,C.title ,C.created ,C.modified ,C.author_id ,C.status ,C.tags
            ,C.categories ,C.hits  ,M.name as categories_name ,U.screen_name , D.code_name as status_name
    from t_contents C  left join t_relationships_contents_metas R ON C.c_id = R.c_id
                       left join t_metas M ON M.m_id = R.m_id and M.type = '1'
                       left join t_users U on U.u_id = C.author_id
                       left join t_code D ON D.code_value = C.status and D.code = 'status' and D.table_name = 't_content'
    where C.author_id = #{cId ，jdbcType=INTEGER}

  </select>

</mapper>