<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hak.mysite.mapper.TContentsMapper">
  <resultMap id="BaseResultMap" type="com.hak.mysite.model.TContents">
    <id column="c_id" jdbcType="INTEGER" property="cId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="title_Pic" jdbcType="VARCHAR" property="titlePic" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
    <result column="author_id" jdbcType="INTEGER" property="authorId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="categories" jdbcType="INTEGER" property="categories" />
    <result column="hits" jdbcType="INTEGER" property="hits" />
    <result column="comments_num" jdbcType="INTEGER" property="commentsNum" />
    <result column="allow_comment" jdbcType="INTEGER" property="allowComment" />
    <result column="allow_ping" jdbcType="INTEGER" property="allowPing" />
    <result column="allow_feed" jdbcType="INTEGER" property="allowFeed" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hak.mysite.model.TContents">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    c_id, title, title_Pic, created, modified, author_id, type, status, tags, categories, 
    hits, comments_num, allow_comment, allow_ping, allow_feed
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.hak.mysite.model.TContentsExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_contents
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.hak.mysite.model.TContentsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_contents
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_contents
    where c_id = #{cId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_contents
    where c_id = #{cId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hak.mysite.model.TContentsExample">
    delete from t_contents
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hak.mysite.model.TContents">
    insert into t_contents (c_id, title, title_Pic, 
      created, modified, author_id, 
      type, status, tags, 
      categories, hits, comments_num, 
      allow_comment, allow_ping, allow_feed, 
      content)
    values (#{cId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{titlePic,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{modified,jdbcType=TIMESTAMP}, #{authorId,jdbcType=INTEGER}, 
      #{type,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{tags,jdbcType=VARCHAR}, 
      #{categories,jdbcType=INTEGER}, #{hits,jdbcType=INTEGER}, #{commentsNum,jdbcType=INTEGER}, 
      #{allowComment,jdbcType=INTEGER}, #{allowPing,jdbcType=INTEGER}, #{allowFeed,jdbcType=INTEGER}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hak.mysite.model.TContents">
    insert into t_contents
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cId != null">
        c_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="titlePic != null">
        title_Pic,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="modified != null">
        modified,
      </if>
      <if test="authorId != null">
        author_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="tags != null">
        tags,
      </if>
      <if test="categories != null">
        categories,
      </if>
      <if test="hits != null">
        hits,
      </if>
      <if test="commentsNum != null">
        comments_num,
      </if>
      <if test="allowComment != null">
        allow_comment,
      </if>
      <if test="allowPing != null">
        allow_ping,
      </if>
      <if test="allowFeed != null">
        allow_feed,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cId != null">
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="titlePic != null">
        #{titlePic,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null">
        #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="authorId != null">
        #{authorId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="tags != null">
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="categories != null">
        #{categories,jdbcType=INTEGER},
      </if>
      <if test="hits != null">
        #{hits,jdbcType=INTEGER},
      </if>
      <if test="commentsNum != null">
        #{commentsNum,jdbcType=INTEGER},
      </if>
      <if test="allowComment != null">
        #{allowComment,jdbcType=INTEGER},
      </if>
      <if test="allowPing != null">
        #{allowPing,jdbcType=INTEGER},
      </if>
      <if test="allowFeed != null">
        #{allowFeed,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hak.mysite.model.TContentsExample" resultType="java.lang.Long">
    select count(*) from t_contents
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_contents
    <set>
      <if test="record.cId != null">
        c_id = #{record.cId,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.titlePic != null">
        title_Pic = #{record.titlePic,jdbcType=VARCHAR},
      </if>
      <if test="record.created != null">
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modified != null">
        modified = #{record.modified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.authorId != null">
        author_id = #{record.authorId,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.tags != null">
        tags = #{record.tags,jdbcType=VARCHAR},
      </if>
      <if test="record.categories != null">
        categories = #{record.categories,jdbcType=INTEGER},
      </if>
      <if test="record.hits != null">
        hits = #{record.hits,jdbcType=INTEGER},
      </if>
      <if test="record.commentsNum != null">
        comments_num = #{record.commentsNum,jdbcType=INTEGER},
      </if>
      <if test="record.allowComment != null">
        allow_comment = #{record.allowComment,jdbcType=INTEGER},
      </if>
      <if test="record.allowPing != null">
        allow_ping = #{record.allowPing,jdbcType=INTEGER},
      </if>
      <if test="record.allowFeed != null">
        allow_feed = #{record.allowFeed,jdbcType=INTEGER},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update t_contents
    set c_id = #{record.cId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      title_Pic = #{record.titlePic,jdbcType=VARCHAR},
      created = #{record.created,jdbcType=TIMESTAMP},
      modified = #{record.modified,jdbcType=TIMESTAMP},
      author_id = #{record.authorId,jdbcType=INTEGER},
      type = #{record.type,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      tags = #{record.tags,jdbcType=VARCHAR},
      categories = #{record.categories,jdbcType=INTEGER},
      hits = #{record.hits,jdbcType=INTEGER},
      comments_num = #{record.commentsNum,jdbcType=INTEGER},
      allow_comment = #{record.allowComment,jdbcType=INTEGER},
      allow_ping = #{record.allowPing,jdbcType=INTEGER},
      allow_feed = #{record.allowFeed,jdbcType=INTEGER},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_contents
    set c_id = #{record.cId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      title_Pic = #{record.titlePic,jdbcType=VARCHAR},
      created = #{record.created,jdbcType=TIMESTAMP},
      modified = #{record.modified,jdbcType=TIMESTAMP},
      author_id = #{record.authorId,jdbcType=INTEGER},
      type = #{record.type,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      tags = #{record.tags,jdbcType=VARCHAR},
      categories = #{record.categories,jdbcType=INTEGER},
      hits = #{record.hits,jdbcType=INTEGER},
      comments_num = #{record.commentsNum,jdbcType=INTEGER},
      allow_comment = #{record.allowComment,jdbcType=INTEGER},
      allow_ping = #{record.allowPing,jdbcType=INTEGER},
      allow_feed = #{record.allowFeed,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hak.mysite.model.TContents">
    update t_contents
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="titlePic != null">
        title_Pic = #{titlePic,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null">
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="authorId != null">
        author_id = #{authorId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="tags != null">
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="categories != null">
        categories = #{categories,jdbcType=INTEGER},
      </if>
      <if test="hits != null">
        hits = #{hits,jdbcType=INTEGER},
      </if>
      <if test="commentsNum != null">
        comments_num = #{commentsNum,jdbcType=INTEGER},
      </if>
      <if test="allowComment != null">
        allow_comment = #{allowComment,jdbcType=INTEGER},
      </if>
      <if test="allowPing != null">
        allow_ping = #{allowPing,jdbcType=INTEGER},
      </if>
      <if test="allowFeed != null">
        allow_feed = #{allowFeed,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hak.mysite.model.TContents">
    update t_contents
    set title = #{title,jdbcType=VARCHAR},
      title_Pic = #{titlePic,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      modified = #{modified,jdbcType=TIMESTAMP},
      author_id = #{authorId,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      tags = #{tags,jdbcType=VARCHAR},
      categories = #{categories,jdbcType=INTEGER},
      hits = #{hits,jdbcType=INTEGER},
      comments_num = #{commentsNum,jdbcType=INTEGER},
      allow_comment = #{allowComment,jdbcType=INTEGER},
      allow_ping = #{allowPing,jdbcType=INTEGER},
      allow_feed = #{allowFeed,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hak.mysite.model.TContents">
    update t_contents
    set title = #{title,jdbcType=VARCHAR},
      title_Pic = #{titlePic,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      modified = #{modified,jdbcType=TIMESTAMP},
      author_id = #{authorId,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      tags = #{tags,jdbcType=VARCHAR},
      categories = #{categories,jdbcType=INTEGER},
      hits = #{hits,jdbcType=INTEGER},
      comments_num = #{commentsNum,jdbcType=INTEGER},
      allow_comment = #{allowComment,jdbcType=INTEGER},
      allow_ping = #{allowPing,jdbcType=INTEGER},
      allow_feed = #{allowFeed,jdbcType=INTEGER}
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
</mapper>